/* 
    Document   : autocomplete
    Created on : Nov 9, 2011, 1:59:51 PM
    Author     : adam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

html.js input.throbbing {
  background-position: 100% -18px !important;
}

/* Animated throbber */
html.js input.form-islandora_authority_autocomplete {
  background-image: url(./throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px; /* LTR */
}



#islandora_authority_autocomplete, #islandora_authority_autocomplete > ul > li > ul {
  position: absolute;
  display: none;
}

#islandora_authority_autocomplete > ul , #islandora_authority_autocomplete > ul > li > ul {
  border: 1px solid;
  overflow: visible;
  z-index: 100;
}

#islandora_authority_autocomplete ul {
  padding: 0;
  margin: 0;
}

#islandora_authority_autocomplete li {
  cursor: default;
  margin: 0;
  padding: 2px;
  background: white repeat scroll 0 0;
  color: #000000;
  white-space: pre;
}

#islandora_authority_autocomplete li.selected {
  background-color: #0072B9;
}
