/* 
    Document   : autocomplete
    Created on : Nov 9, 2011, 1:59:51 PM
    Author     : adam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

#islandora_authority_autocomplete, #islandora_authority_submenu {
  position: absolute;
  display: none;
}

#islandora_authority_autocomplete > ul , #islandora_authority_submenu > ul {
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
}

#islandora_authority_autocomplete li {
  cursor: default;
  margin: 0;
  padding: 2px;
  background: white repeat scroll 0 0;
  color: #000000;
  white-space: pre
}

#islandora_authority_autocomplete li.selected {
  background-color: #0072B9;
}
